<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href= "static/css/Style.css" >
        <title>Bienvenidxs a MercadoLiebre</title>
    </head>
    <body>
        <header class="header">
            <div class="top-header">
                  <img src="static/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logo">
                
                    <input class="search-input"  type="text" name="buscar" id="" placeholder="Buscar productos, marcas y más"></input>
                <div class="icono-search"><i class="fa fa-search"></i></div>
            
      
        <p class="p-1"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <div id="menu">
                <button type="menu" id="butoMenu"><i class="fas fa-bars"></i></button>
            </div>
            <nav class="nav-main">
                <ul class="ul-1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="ul-2">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
        </header>
        <section class="banner">
            <img src="static/images/img-home-banner.jpg" width="361" alt="Banner de ofertas">
        </section>
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class = "producto">
                    <article> 
                        <img src="static/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck icon-truck" style="color: #39b54a";></i>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                            <h4 class="descripciones">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>  
                        <img src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck icon-truck" style="color: #39b54a"></i>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                            <h4 class="descripciones">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img  src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck icon-truck" style="color: #39b54a"></i>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                            <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img class="producto-img" src="static/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <i class="fas fa-truck icon-truck" style="color: #39b54a"></i>
                            <p class="precios">$23.200</p>
                            <p class="descuentos">5% off</p>
                            <h4 class="descripciones">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="ofertas">
                <h3>Ofertas</h3>
            <div class = "producto"> 
                <article>     
                    <img src="static/images/img-cafetera-moulinex.jpg"  alt="Cafetera" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck icon-truck" style="color: #39b54a"></i>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h4 class="descripciones">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img class="producto-img" src="static/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck icon-truck" style="color: #39b54a"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h4 class="descripciones">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img class="producto-img" src="static/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck icon-truck" style="color: #39b54a"></i>
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h4 class="descripciones">Teléfono móvil Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img class="producto-img" src="static/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck icon-truck" style="color: #39b54a"></i>
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h4 class="descripciones">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer class="footer">

                <div class="cards-container">
            
                    <div class="footer-cont">
                        <i class="fas fa-credit-card icon-foot"></i>
                        <h4 class="h4-foot">Pagá con tarjeta o en efectivo</h4>
                        <p class="p-foot">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos
                            de pago. ¡Y siempre es seguro!</p>
                    </div>
            
                    <div class="footer-cont">
                        <i class="fas fa-gift icon-foot"></i>
                        <h4 class="h4-foot">Envío gratis desde $ 2.500</h4>
                        <p class="p-foot">Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
                            productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
            
                    <div class="footer-cont">
                        <i class="fas fa-user-shield icon-foot"></i>
                        <h4 class="h4-foot">Seguridad, de principio a fin</h4>
                        <p class="p-foot">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                            porque estás siempre protegido.</p>
                    </div>
            
                </div>
            
                <div class="border">
            
                </div>
            
                <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>